ul.main-menu#main-menu
  li: a( data-scroll data-options='{ "easing": "easeOutQuad" }' href="#inicio").active Home
  li: a( data-scroll data-options='{ "easing": "easeOutQuad" }'  href="#about") About us
  li: a(data-scroll data-options='{ "easing": "easeOutQuad" }'  href="#servicios") Services
  li: a(data-scroll data-options='{ "easing": "easeOutQuad" }'  href="#galeria") Gallery  
  li: a(data-scroll data-options='{ "easing": "easeOutQuad" }'  href="#precios") Precing 
  li: a(data-scroll data-options='{ "easing": "easeOutQuad" }'  href="#blog") Blog
